<template>
  <div class="q-pa-md" style="max-width: 700px">
    <AddApartment/>
    <q-list>
      <div v-for="apartment in apartments" :key="apartment.id">
        <Apartment v-bind:apartment="apartment"/>
        <q-separator spaced inset/>
      </div>
    </q-list>
  </div>
</template>

<style>
</style>

<script>
import AddApartment from "../components/AddApartment.vue";
import Apartment from "../components/Apartment.vue";

import { mapGetters} from 'vuex' 
import { mapActions} from 'vuex' 

export default {
  name: "Apartments",
  data: function() {
    return {
      
    };
  },
  components: {
    AddApartment,
    Apartment
  },
  computed: {
    ...mapGetters('apartments',['apartments'])
  }
};
</script>
