<template>
  <div class="q-pa-md" style="max-width: 350px">
    <q-list bordered>
      <q-item v-ripple>
        <q-item-section avatar>
          <q-icon color="primary" name="vpn_key"/>
        </q-item-section>
        <q-item-section>Id : {{petition.id}}</q-item-section>
      </q-item>
      <q-item v-ripple>
        <q-item-section avatar>
          <q-icon color="orange" name="phone"/>
        </q-item-section>
        <q-item-section>{{petition.contact}}</q-item-section>
      </q-item>
      <q-item v-ripple>
        <q-item-section avatar>
          <q-icon color="green" name="attach_money"/>
        </q-item-section>
        <q-item-section>{{petition.budget}}</q-item-section>
      </q-item>
      <q-item v-ripple>
        <q-item-section avatar>
          <q-icon color="brown" name="airline_seat_flat_angled"/>
        </q-item-section>
        <q-item-section>{{petition.rooms}}</q-item-section>
      </q-item>
      <q-item v-ripple>
        <q-item-section avatar>
          <q-icon color="red" name="school"/>
        </q-item-section>
        <q-item-section>{{petition.university}}</q-item-section>
      </q-item>
    </q-list>
    <q-list>
      <div v-for="match in matches" :key="match.id">
        <q-item>
          <q-item-section>
            <q-item-label>{{match.address}}</q-item-label>
            <q-item-label caption lines="2">Rooms {{match.rooms}}.</q-item-label>
            <q-item-label caption lines="2">Description {{match.description}}.</q-item-label>
            <q-item-label caption lines="2">Rent: $ {{match.rentPrice}}.</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-item-label caption>{{match.university}}</q-item-label>
            <div class="text-brown">
              Id : {{match.id}}
            </div>
          </q-item-section>
        </q-item>

        <q-separator spaced inset/>
      </div>
    </q-list>
    <div class="q-pa-lg flex flex-center">
    <q-pagination
      v-model="current"
       :max= "this.maxVal"
    >
    </q-pagination>
  </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "PetitionDetail",
  props: ["petitionId"],
  data: function() {
    return {
      current: 1
    };
  },
  computed: {
    ...mapGetters({ getPetitionById: "petitions/getPetitionById" }),
    ...mapGetters({ getAllMatches: "apartments/getAllMatches" }),
    ...mapGetters({ maxPages: "apartments/maxPages"}),
    petition() {
      let val = parseInt(this.petitionId);
      return this.getPetitionById(val);
    },
    matches() {
      return this.getAllMatches(this.petition,this.current);
    },
    maxVal(){
      return this.maxPages(this.petition)
    }
  }
};
</script>

<style>
</style>
