<template>
  <div class="q-pa-md" style="max-width: 700px">
    <AddPetition/>
    <q-list>
      <div v-for="petition in petitions" :key="petition.id">
        <Petition v-bind:petition="petition"/>
        <q-separator spaced inset/>
      </div>
    </q-list>
  </div>
</template>

<style>
</style>

<script>
import AddPetition from "../components/AddPetition.vue";
import Petition from "../components/Petition.vue";

import { mapGetters} from 'vuex' 
import { mapActions} from 'vuex' 

export default {
  name: "Petitions",
  data: function() {
    return {
      
    };
  },
  components: {
    AddPetition,
    Petition
  },
  computed: {
    ...mapGetters('petitions',['petitions'])
  }
};
</script>
