<template>
   <div class="q-pa-md">
    <q-table
      title="Stats"
      :data="stats"
      :columns="columns"
      row-key="name"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "Stats",
  data: function() {
    return {
      columns: [
        { name: 'university', align: 'center', label: 'university', field: 'university', sortable: true },
        { name: 'number', label: 'number', field: 'number', sortable: true },
        { name: 'avgBudget', label: 'avgBudget', field: 'avgBudget' },
        { name: 'avgRooms', label: 'avgRooms ', field: 'avgRooms' },
        { name: 'petitionsWaiting', label: 'petitionsWaiting', field: 'petitionsWaiting', sortable: true},
      ]
    };
  },
  computed: {
    ...mapGetters('petitions', ['stats'])
  }
};
</script>

<style>
</style>
