<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit="submitApartment" class="q-gutter-md">
      <q-input
        filled
        v-model="apartmentAddress"
        label="address*"
        hint="Adress"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="apartmentUniversity"
        label="university*"
        hint="University"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="apartmentDescription"
        label="description*"
        hint="Description"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        type="number"
        v-model="apartmentRooms"
        label="Rooms*"
        hint=" Number of Rooms"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type number of rooms',
          val => val > 0 && val < 100 || 'Please type a valid number of rooms'
        ]"
      />

      <q-input
        filled
        type="number"
        v-model="apartmentRent"
        label="Rent Price*"
        hint="How much for this apartment"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type number of rooms',
          val => val > 0 && val < 100000 || 'Please type a valid number of rooms'
        ]"
      />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"/>
        <q-toggle v-model="apartmentState" label="libre?"/>
      </div>
    </q-form>
  </div>
</template>
<script>
import uuid from "uuid";
import { mapActions} from 'vuex'
export default {
  name: "AddApartment",
  data: function() {
    return {
      apartmentAddress: "",
      apartmentUniversity: "",
      apartmentRooms: "",
      apartmentRent: "",
      apartmentState: "",
      apartmentDescription: ""
    };
  },
  methods: {
    ...mapActions('apartments',['addApartment']),
    submitApartment(e) {
      /* e.preventDefault(); */
      const newApartment = {
        id: uuid.v4(),
        address: this.apartmentAddress,
        university: this.apartmentUniversity,
        rooms: this.apartmentRooms,
        rentPrice: this.apartmentRent,
        state: this.apartmentState ? "libre" : "ocupado",
        description: this.apartmentDescription
      };
      this.addApartment(newApartment);
    }
  }
};
</script>
<style>
</style>

