<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit="submitPetition" class="q-gutter-md">
      <q-input
        filled
        v-model="petitionContact"
        label="contact*"
        hint="Contact"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="petitionUniversity"
        label="university*"
        hint="University"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />
      
      <q-input
        filled
        type="number"
        v-model="petitionRooms"
        label="Rooms*"
        hint=" Number of Rooms"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type number of rooms',
          val => val > 0 && val < 100 || 'Please type a valid number of rooms'
        ]"
      />

      <q-input
        filled
        type="number"
        v-model="petitionBudget"
        label="budget Price*"
        hint="Client's Budget"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type number of rooms',
          val => val > 0 && val < 100000 || 'Please type a valid number of rooms'
        ]"
      />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"/>
        <q-toggle 
         v-model="petitionState" 
         label="buscando?"
         false-value="ocupado"
         true-value="buscando"/>
      </div>
    </q-form>
  </div>
</template>
<script>
import uuid from "uuid";
import { mapActions} from 'vuex'
export default {
  name: "AddPetition",
  data: function() {
    return {
      petitionContact: "",
      petitionUniversity: "",
      petitionRooms: "",
      petitionBudget: "",
      petitionState: "",
    };
  },
  methods: {
    ...mapActions('petitions',['addPetition']),
    submitPetition(e) {
      /* e.preventDefault(); */
      const newPetition = {
        id: uuid.v4(),
        contact: this.petitionContact,
        university: this.petitionUniversity,
        rooms: this.petitionRooms,
        budget: this.petitionBudget,
        state: this.petitionState
      };
      this.addPetition(newPetition);
    }
  }
};
</script>
<style>
</style>

