.<template>
  <div>
    <q-item>
      <q-item-section>
        <div class="cursor-pointer">
          Address: {{ apartmentToUpdate.address}}
          <q-popup-edit v-model="apartmentToUpdate.address">
            <q-input
              @keypress.enter="updateApartment(apartmentToUpdate)"
              v-model="apartmentToUpdate.address"
              dense
              autofocus
              counter
            />
          </q-popup-edit>
        </div>
        <div class="cursor-pointer">
          Rooms: {{ apartmentToUpdate.rooms}}
          <q-popup-edit v-model="apartmentToUpdate.rooms">
            <q-input
              @keypress.enter="updateApartment(apartmentToUpdate)"
              v-model="apartmentToUpdate.rooms"
              dense
              autofocus
              counter
            />
          </q-popup-edit>
        </div>
        <div class="cursor-pointer">
          Description : {{ apartmentToUpdate.description}}
          <q-popup-edit v-model="apartmentToUpdate.description">
            <q-input
              @keypress.enter="updateApartment(apartmentToUpdate)"
              v-model="apartmentToUpdate.description"
              dense
              autofocus
              counter
            />
          </q-popup-edit>
        </div>
        <div class="cursor-pointer">
          Rent: $ {{ apartmentToUpdate.rentPrice}}
          <q-popup-edit
            v-model="apartmentToUpdate.rentPrice"
            @keypress.enter="updateApartment(apartmentToUpdate)"
          >
            <q-input
              v-model="apartmentToUpdate.rentPrice"
              @keypress.enter="updateApartment(apartmentToUpdate)"
              dense
              autofocus
              counter
              type="number"
              :rules="[
                val => val !== null && val !== '' || 'Please type number of rooms',
                val => val > 0 && val < 100000 || 'Please type a valid number of rooms'
              ]"
            />
          </q-popup-edit>
        </div>
        <div class="q-pa-md q-gutter-sm">
          <q-btn round color="red" size="10px" icon="delete" @click="deleteApartment(apartment.id)">
            <q-tooltip>Delete this Apartment</q-tooltip>
          </q-btn>
        </div>
      </q-item-section>

      <q-item-section side top>
        <q-item-label caption>{{apartment.university}}</q-item-label>
        <div class="text-brown">
          <q-icon
            name="meeting_room"
            color="brown"
            v-for="rooms in parseInt(apartment.rooms)"
            :key="rooms"
          />
        </div>
        <q-icon name="mood" color="orange" v-if="apartmentToUpdate.state === 'libre'"/>
        <q-icon name="mood_bad" color="red" v-else/>
        <q-toggle
          false-value="ocupado"
          true-value="libre"
          v-model="apartmentToUpdate.state"
          :label="apartmentToUpdate.state"
          @click.native="updateApartment(apartmentToUpdate)"
        />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Apartment",
  props: {
    apartment: Object
  },
  data: function() {
    return {
      apartmentToUpdate: {
        id: this.apartment.id,
        address: this.apartment.address,
        description: this.apartment.description,
        rooms: this.apartment.rooms,
        rentPrice: this.apartment.rentPrice,
        state: this.apartment.state,
        university: this.apartment.university
      }
    };
  },
  methods: {
    ...mapActions("apartments", ["deleteApartment", "updateApartment"])
  }
};
</script>

<style>
</style>
