.<template>
  <div>
    <q-item>
      <q-item-section>
        <div class="cursor-pointer">
          Contact: {{ petitionToUpdate.contact}}
          <q-popup-edit v-model="petitionToUpdate.contact">
            <q-input
              @keypress.enter="updatePetition(petitionToUpdate)"
              v-model="petitionToUpdate.contact"
              dense
              autofocus
              counter
            />
          </q-popup-edit>
        </div>
        <div class="cursor-pointer">
          Rooms: {{ petitionToUpdate.rooms}}
          <q-popup-edit v-model="petitionToUpdate.rooms">
            <q-input
              @keypress.enter="updatePetition(petitionToUpdate)"
              v-model="petitionToUpdate.rooms"
              dense
              autofocus
              counter
            />
          </q-popup-edit>
        </div>
        <div class="cursor-pointer">
          Rent: $ {{ petitionToUpdate.budget}}
          <q-popup-edit
            v-model="petitionToUpdate.budget"
            @keypress.enter="updatePetition(petitionToUpdate)"
          >
            <q-input
              v-model="petitionToUpdate.budget"
              @keypress.enter="updatePetition(petitionToUpdate)"
              dense
              autofocus
              counter
              type="number"
              :rules="[
                val => val !== null && val !== '' || 'Please type number of rooms',
                val => val > 0 && val < 100000 || 'Please type a valid number of rooms'
              ]"
            />
          </q-popup-edit>
        </div>
        <div class="q-pa-md q-gutter-sm">
          <q-btn round color="red" size="10px" icon="delete" @click="deletePetition(petition.id)">
            <q-tooltip>Delete this Petition</q-tooltip>
          </q-btn>
          <q-btn round color="purple" size="10px" icon="details" clickable tag="a" :to="'petitions/' + petitionToUpdate.id">
            <q-tooltip>Detail of this Petition </q-tooltip>
          </q-btn>
        </div>
      </q-item-section>

      <q-item-section side top>
        <q-item-label caption>{{petition.university}}</q-item-label>
        <div class="text-brown">
          <q-icon
            name="meeting_room"
            color="brown"
            v-for="rooms in parseInt(petition.rooms)"
            :key="rooms"
          />
        </div>
        <q-icon name="check" color="green" v-if="petitionToUpdate.state === 'buscando'"/>
        <q-icon name="clear" color="red" v-else/>
        <q-toggle
          false-value="ocupado"
          true-value="buscando"
          v-model="petitionToUpdate.state"
          :label="petitionToUpdate.state"
          @click.native="updatePetition(petitionToUpdate)"
        />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Petition",
  props: {
    petition: Object
  },
  data: function() {
    return {
      petitionToUpdate: {
        id: this.petition.id,
        contact: this.petition.contact,
        rooms: this.petition.rooms,
        budget: this.petition.budget,
        state: this.petition.state,
        university: this.petition.university
      }
    };
  },
  methods: {
    ...mapActions("petitions", ["deletePetition", "updatePetition"])
  }
};
</script>

<style>
</style>
